header
    background-image: url(../images/bannersombre.png)
    background-attachment: fixed
    height: 100vh
    text-align: center
    color: white  
    nav
      display: flex
      justify-content: space-between
      margin: 0 5%
      padding-top: 20px
      span
          color: whitesmoke
    .liens
     margin: auto 0     
    a
     color: whitesmoke
     text-decoration: none
     margin: 0 10px
    .titre
        padding-top: 10%
        margin: 0 30%
        text-transform: uppercase
        button
            border: none
            border-radius: 5px
            background-color: #F32853
            color: white
            margin-top: 20px
            padding: 20px 30px
    
          

     

         
     