section
    &:first-of-type
     display: flex
     margin: 0 15%
    div
        flex:1
        padding: 50px
        h2
            font-size: 40px
        span
            color: #ABACB0
            font-size: 20px
        p
            color: #ABACB0    